* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url("assets/wood-background.jpg");
}
.card-container {
    margin-top: 3em;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 25em;
}

.background-image {
    position: absolute;
    z-index: -1;
    width: 90%;
}

.food-image {
    height: 10em;
    width: 80%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}
.food-name {
    color: #087F8C;
}

.food-info {
    color: #087F8C;
}

.order-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    color: #087F8C;
}

.order-button {
    border-radius: 10px;
    border-style: none;
    background-color: #087F8C;
    color: white;
    font-weight: bold;
    padding: 1em 2em;
    box-shadow: 1px 1px 10px black;
}