:root {
    --blue: #087F8C;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url("assets/wood-background.jpg");
    font-family: 'Berkshire Swash', cursive;
    color: var(--blue);
}
.card-container {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  gap: 10em;
  padding-bottom: 10em;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 25em;
}


.background-image {
  position: absolute;
  z-index: -1;
  width: 90%;
}

.food-image {
  height: 10em;
  width: 80%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}
.food-name {
    color: var(--blue);
}

.food-info {
  color: #087f8c;
}

.order-button {
    border-radius: 10px;
    border-style: none;
    background-color: #087F8C;
    color: white;
    font-weight: bold;
    padding: 1em 2em;
    box-shadow: 1px 1px 10px black;
    font-family: 'Berkshire Swash', cursive;
}

/* Header classes */
.page-header {
  width: 100%;
}

.header-top {
  width: 95%;
  margin: 0.5em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top > .top-title {
  flex: 0 0 45%;
}

.header-top > .top-cart,
.header-top > .top-flag {
  flex: 0 0 20%;
  width: 20%;
}

.top-cart {
  position: relative;
}

.top-cart > .cart-img {
  width: 100%;
}

.top-cart > .cart-amount {
  position: absolute;
  top: 25%;
  left: 25%;
  background-image: radial-gradient(circle, black 33%, transparent);
  padding: 25%;
  border-radius: 50%;
}

.cart-amount > .amount-text {
  color: white;
}

.header-lang-select {
  position: absolute;
  top: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.745);
  width: 100vw;
  padding: 100% 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2em;
  justify-content: center;
  align-items: center;
}

.header-lang-select > .lang-select-background {
  width: 100%;
  position: absolute;
  z-index: -5;
}

.header-lang-select > .lang-select-title {
  color: var(--blue);
}

.lang-select-flags {
  display: flex;
  justify-content: space-around;
}

.lang-select-flags > .flag-img {
  width: 33%;
  box-shadow: 0 0 15px black;
}

/* nav bar  */
.header-nav {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.nav-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav-list > .list-btn {
  width: 18%;
  background: none;
  background-image: url("assets/images/icons/scroll.png");
  background-size: 100% 100%;
  border: none;
  background-repeat: no-repeat;
  /* background-position: 0 10px; */
}

.list-btn > .btn-img {
  position: relative;
  width: 100%;
  margin: auto auto;
}
